body{
  margin: 0px;
  font-family: "Lato",sans-serif;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

.containder{
  display: grid;
  grid-template-columns: 1fr;
}

/* Nav Styles*/
.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 22px;

  
}


.logo{
  font-size: 20px;
  
}

.right-side{
  display: flex;
  padding-top: 0.45%;   
}

.nav-wrapper > .right-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
  color: black;
}

.active-nav-link{
  border-bottom: 1px solid black;
}

.active-nav-link a{
  border-bottom:black !important;
}

/*Home screen styles*/
.homescreen-wrapper{
  display: grid;
  grid-template-rows: 626px;
}

.photo-wrapper{
  opacity: 0.95;
}
.photo-wrapper:hover{
  opacity: 1;
}
.my-info-wrapper{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.personal-img-wrapper{
  padding-left: 15%;
  display: block;
  margin-left: 25%;
  width: 40%;
}


.personal-msg-wrapper{
text-align: center;
}

/*Contact Bar Styles*/

.contact-bar-wrapper{
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 2px solid black;
  border-color:transparent;
}

.logos-wrapper{
  display: grid;
  padding-top: 0.5%;
  grid-template-columns: 50px 50px 50px;
  margin-left: 28%;
}

.bottom-left-side{
  position:relative;
  padding-top: 25px;

}

/*About me*/

.about-me-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 626px;
}

.about-me-block{
  background: rgba(135, 135, 173, 0.85);
 
  
}

.about-me-photo-wrapper{
  
  max-width: 100%;
  padding-top: 0px;
  background: rgba(5, 4, 48, 0.8) 

}
.about-me-photo-wrapper:hover{
 
  max-width: 100%;
  padding-top: 0px;
  background: rgba(5, 4, 48, 0.9) 

}
.Resume-button-wrapper{
  padding-left: 45%;
  padding-top: 11px;
  padding-bottom: 9px;
}


.Resume-button {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-style: ridge;
  border-radius: 10px;
}

.about-me-photo{
  max-width: 100%;
  align-self: center;
  
}

.skills-logos-wrapper{  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100%;
}

.skills-logo-wrapper{
  position: relative;
  image-resolution: 20dpi;
}

